/* フッター ========== */
.ft-wrap {
  margin: 40px 0 0;
  padding: 0 0 72px;
  border-top: 1px solid $palette-gray--1;
}
.ft_copy-wrap {
  background-color: $palette-gray--2;
  padding: 24px 0;
}
.ft-copy {
  text-align: center;
  font-size: 1.2rem;
  margin: 0;
  color: $palette-gray--3;
}
@media screen and (min-width: $bp-sm) {
  .ft-wrap {
    margin-top: 56px;
    padding-bottom: 0;
  }
}
@media screen and (min-width: $bp-md) {
  .ft-wrap {
    margin-top: 80px;
  }
}
