/* メモリスト ========== */
.empty-mes-box {
  margin: 120px auto;
}
.empty-mes_tx {
  text-align: center;
}
.empty-mes_btn-box {
  margin-top: 24px;
  text-align: center;
}

.memo-list_items {
  margin: 0;
  padding: 0;
  list-style: none;
}
.memo-list_item {
  margin: 0;
  padding: 0;
}
