/* メモ閲覧 ========== */
.show-memo_ttl-box {
  margin-top: 16px;
}
.show-memo_ttl {
  display: block;
  margin: 0;
  padding: 4px 8px;
  font-size: 2.2rem;
  font-weight: 700;
  box-sizing: border-box;
  background-color: $palette-gray--2;
  border: 2px solid $palette-gray--1;
  border-radius: 6px;
}

.show-memo_info-box {
  padding: 0;
  margin: 8px 0 0;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-wrap: wrap;
  color: $palette-gray--3;
}

.show-memo_btn-box {
  margin-top: 8px;
}

@media screen and (min-width: $bp-sm) {
  .show-memo_ttl {
    font-size: 2.8rem;
  }
}

@media screen and (min-width: $bp-md) {
  .show-memo_info-and-btn-box {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: 16px;
  }
  .show-memo_info-box {
    margin-top: 0;
  }
  .show-memo_btn-box {
    margin-top: 0;
    margin-left: 16px;
  }
}

@media screen and (min-width: $bp-lg) {
  .show-memo_cnt {
    margin-top: 40px;
    .mkd-box {
      /* width: calc(100% - 300px); */
      *:first-child {
        margin-top: 0;
      }
    }
  }
}
