// フォント ==========
// デフォルト
$font-family: -apple-system, BlinkMacSystemFont, 'ヒラギノ角ゴ ProN W3',
 'Hiragino Kaku Gothic ProN W3', HiraKakuProN-W3, 'ヒラギノ角ゴ ProN',
 'Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ Pro', 'Hiragino Kaku Gothic Pro',
 'メイリオ', Meiryo, Osaka, 'ＭＳ Ｐゴシック', 'MS PGothic', 'Helvetica Neue',
 HelveticaNeue, Helvetica, Arial, 'Segoe UI', sans-serif, 'Apple Color Emoji',
 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';

// カラーパレット ==========
$palette-white--1: #fbfbfb;

$palette-black--1: #3b3b3b;
$palette-black--2: #585858;

$palette-gray--1: #eaeaea;

$palette-green--1: #0f8775;
$palette-green--2: #60b7aa;
$palette-green--3: #dbecea;

$palette-red--1: #e02b3d;

// ------

$palette-white: #fff;

$palette-black: #3b3b3b;

$palette-gray--2: #f2f2f2;
$palette-gray--3: #c8c8c8;
$palette-gray--4: #6f6f6f;
$palette-gray--5: #ececec;
$palette-gray--6: #fbfbfb;

$palette-red: #e11e32;

$palette-pink: #fdf0f0;
$palette-pink--2: #fefafa;
$palette-pink--3: #fdeef0;

$palette-brown: #923c3c;

$palette-yellow: #f1f10a;
$palette-yellow--2: #8ca50a;
$palette-yellow--3: #f5fbd4;

$palette-purple--1: #201196;
$palette-purple--2: #d8d4f3;

$palette-orange--1: #bb841b;
$palette-orange--2: #efe0c4;

$palette-blue--1: #0a6daf;
$palette-blue--2: #d2eafb;

// 入力項目カラー ==========
// 通常 =====
// 背景
$color-input-bg: $palette-gray--6;
// 枠線
$color-input-border: $palette-gray--3;
// プレイスホルダー
$color-input-placeholder: $palette-gray--1;

// Hover =====
// 枠線
$color-input-border--hover: $palette-gray--4;

// Focus =====
// 枠線
$color-input-border--focus: $palette-gray--4;

// disabled =====
// 背景
$color-input-bg--disabled: $palette-gray--5;
// 文字
$color-input-tx--disabled: $palette-gray--4;

// readonly =====
// 背景
$color-input-bg--readonly: $palette-gray--2;
// 枠線
$color-input-border--readonly: $palette-gray--3;

// 数値 ==========
// ヘッダーの幅
$header-width--pc: 280px;
$header-width--sp: 300px;

// z-index ==========
// 汎用
$z-index--1: 1;
$z-index--2: 2;
$z-index--3: 3;
$z-index--4: 4;
$z-index--5: 5;

// ヘッダー
$z-index__hd--1: 10000;
$z-index__hd--2: 10010;
$z-index__hd--3: 10020;
$z-index__hd--4: 10030;
$z-index__hd-menu--1: 9000;

// モーダル
$z-index__ovly--1: 7000;
