@charset "utf-8";

@media screen and (min-width: 768px) {
 /* PC
*************************************************/

 /* 基本設定
*************************************************/
 body {
  font-size: 1.6rem;
  line-height: 1.6;
 }

 h1,
 h2,
 h3,
 h4,
 h5,
 h6,
 dl,
 dt,
 dd,
 p,
 blockquote,
 ul,
 ol,
 li {
  font-size: 1.6rem;
 }

 /* 共通設定
*************************************************/
 .pc-obj {
  display: block;
 }
 .sp-obj {
  display: none;
 }

 /* コンテンツ */
 .inner {
  padding: 0 8px;
  width: 960px;
 }

 .main-wrap {
  padding-top: 64px;
 }

 .note {
  font-size: 1.4rem;
 }

 /* 入力項目
*************************************************/
 button,
 input,
 optgroup,
 select,
 textarea {
  font-size: 1.6rem;
 }
 label input[type='radio'] ~ span b,
 label input[type='checkbox'] ~ span b {
  font-size: 1.6rem;
 }

 /* 入力フォーム */
 dl.inset {
  margin: 24px 0 0;
  padding: 0 0 24px;
  display: flex;
  > dt {
   padding: 8px;
   margin: 0;
   width: 35%;
   span.required {
    font-size: 1.2rem;
   }
  }
  > dd {
   padding: 0;
   margin: 0;
   width: 65%;
  }
 }

 /* 確認画面 */
 .input-box.confirm {
  margin-top: 24px;
  .input-list {
   margin-top: 24px;
   dl.inset {
    > dt {
     border-bottom: none;
     padding: 8px;
    }
    > dd {
     border-left: 1px solid #b5b5b5;
     padding: 8px;
    }
   }
  }
 }

 /* リンク
*************************************************/
 a[href^='tel'] {
  pointer-events: none;
 }

 .form-link-back {
  position: absolute;
  margin-top: 0;
  bottom: 0;
  left: 0;
 }

 /* ボタン
*************************************************/
 .btn-m1,
 a.btn-m1 {
  display: block;
  width: auto;
  min-width: 300px;
  margin: 0 auto;
  font-size: 2.4rem;
 }

 .btn-arrow-right,
 a.btn-arrow-right {
  &:after {
   width: 12px;
   height: 12px;
   margin-top: -6px;
  }
 }

 .form-btn-next {
  .btn-m1 {
   margin-top: 32px;
  }
 }

 /* アイコン
*************************************************/
 .icon {
  width: 64px;
  height: 64px;
  background-size: 64px 64px;
 }

 /* モーダル
*************************************************/
 .modal-box {
  max-width: 800px;
  .modal-box-in {
   padding: 24px 40px 40px;
   .title-box {
    h2 {
     &.tt {
      margin-top: 16px;
      font-size: 2.4rem;
     }
    }
   }
  }
 }
}
