/* 共通 ========== */
h1,
h2,
h3,
h4,
h5,
h6,
dl,
dt,
dd,
p,
blockquote,
ul,
ol,
li {
 font-size: 1.4rem;
}

/* サイト内共通 ========== */
/* obj */
.sp-obj {
 display: block;
}
.pc-obj {
 display: none;
}

/* wrap-all */
.wrap-all {
 &.is-header-menu-active {
  padding-left: 0;
 }
}

/* inner */
.inner {
 min-width: auto;
 padding: 0 4%;
}

/* wrapper */
.wrapper {
 min-width: auto;
}
