/* 入力項目共通 ========== */
// 変数
// 背景
$color-input-bg: $palette-white;
// 枠線
$color-input-border: $palette-gray--3;

input,
optgroup,
select,
textarea {
 font-size: 1.6rem;
}
textarea,
input[type='text'],
input[type='tel'],
input[type='email'],
input[type='date'],
input[type='month'],
input[type='search'],
input[type='password'],
input[type='button'],
input[type='submit'],
input[type='reset'],
input[type='number'] {
 font-size: 1.6rem;
}

.form__set {
 display: block;
 margin-top: 16px;
 &.-auto {
  width: 100%;
 }

 &.-half {
  width: 100%;
 }
}

.form__title {
 padding: 0;
 width: 100%;
}

.form__contents {
 padding: 0;
 margin-top: 8px;
 width: 100%;
}

.input-list__item {
 display: inline-block;
 margin: 0 12px 12px 0;
}

.form__check-text {
 font-size: 1.6rem;
}

.form-box {
 .form__set {
  display: flex;
  .form__title {
   padding: 0 12px 0 0;
   width: 44px;
  }
  .form__contents {
   padding: 0;
   margin-top: 0;
   width: calc(100% - 44px);
  }
 }
}
